@model iforgot.Models.pwdReset


<h1 class="title-login">Reset my Password</h1>
<div class="main-box iforgot-box main-box-simple">

    <div class="nav-signup">
        <p>Tu password ha sido cambiado.</p>

    </div>
</div>