@model iforgot.Models.pwdReset  

<h2>IForgot.</h2>
<br />

<h1 class="title-login">Reset my Password</h1>
<div class="main-box iforgot-box main-box-simple">

    <div class="nav-signup">
        <p>Oh, has olvidado tu password, descuida, te enviaremos un Email con instrucciones para recuperarla rapidamente.</p>

        @using (Html.BeginForm("resetedPassword", "iforgot", FormMethod.Post))
        {
            @Html.TextBoxFor(m => m.pwdReset_email, new { Style = "margin: 2px auto 22px; width:65%;" })
            <button value="submit" style="margin: 2px auto 0px; width:65%;" type="submit" class="button red">Enviame mi email</button>

        }

        <a href="../login.php">Volver</a>   
    </div>
</div>