@{
    ViewBag.Title = "About";
}

<h1 class="title-login">Signup</h1>
<div class="main-box iforgot-box main-box-simple">

    <div class="nav-signup">
        <p>Revisa en tu Email el URL para continuar.</p>
    </div>
</div>