@model iforgot.Models.newUsers


<h1 class="title-login">Signup</h1>
<div class="main-box iforgot-box main-box-simple">

    <div class="nav-signup">
        <p>@ViewBag.message</p>

    </div>
</div>